<header class="header">
  <div class="logo">
    Ecommerce Shop
    <!-- <img src="assets/logo/ecommerce-logo.png" alt="Logo"> -->
  </div>
  <div class="search-box p-input-icon-left">
    <i class="pi pi-search"></i>
    <input class="search-input w-30rem" type="text" pInputText placeholder="Pesquisar..." />
  </div>
  <div class="actions" class="flex flex-row flex-wrap">
    <div class="flex flex-row flex-wrap mr-3" style="gap: 1rem;">
      <i class="pi pi-user mt-3"></i>
      <p>Login</p>
    </div>
    <p-button [rounded]="true" icon="pi pi-moon"></p-button>
  </div>
</header>
