:host ::ng-deep {
  .product-item {
    .product-item-content {
      border: 1px solid var(--surface-d);
      border-radius: 3px;
      margin: 0.3rem;
      text-align: center;
      padding: 2rem 0;
    }

    .product-image {
      width: 50%;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }
  }

  .card-style.p-card,
  .rounded-card-style.p-card,
  .essentials-card.p-card {
    transition: transform 0.3s ease, border-color 0.3s ease;
    border: 1px solid transparent;
    overflow: hidden;
  }

  .card-style.p-card:hover,
  .rounded-card-style.p-card:hover,
  .essentials-card.p-card:hover {
    border-color: #1abcfe;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-style.p-card p {
    margin: 0 !important;
    padding: 0 !important;
  }

  .card-style.p-card.p-component {
    position: relative;
  }

  .card-style.p-card.p-component .p-card-header {
    background-color: var(--surface-50);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-style.p-card {
    width: 25rem;
    height: 30rem;
  }

  .smartphone-image {
    max-width: 40%;
    max-height: 40%;
    object-fit: cover;
  }

  .rounded-card-style.p-card {
    border-radius: 50% !important;
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--surface-50);
  }

  .rounded-card-style .p-card-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .rounded-card-image {
    max-width: 60%;
    max-height: 60%;
    object-fit: cover;
  }

  .essentials-card.p-card {
    width: 12.5rem;
    height: 12.5rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--surface-50);
  }

  .essentials-card .p-card-body {
    padding: 0;
    margin: 0;
  }

  .essentials-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: cover;
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10rem;
  margin-left: auto;
  padding-top: 5rem;
}

.discount-marker {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1abcfe;
  color: white;
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
  margin: 0;
  overflow: hidden;
}

.text-blue {
  color: var(--blue-500);
}

.buy-now {
  color: var(--green-500);
}

:host ::ng-deep .custom-divider.p-divider-solid.p-divider-horizontal {
  height: 2px;
  background-image: linear-gradient(
    to right,
    var(--blue-400),
    var(--blue-400) 30%,
    #e0e0e0 50%
  );
}

