<app-header/>
<div class="container">
  <div class="card">
    <p-carousel
      [value]="products"
      [numVisible]="3"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-product pTemplate="item">
        <div class="product-item">
          <div class="product-item-content">
            <div class="mb-3">
              <img
                src="{{ product.path }}"
                [alt]="product.name"
                class="product-image"
              />
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="flex flex-column mt-6">
    <div class="flex flex-row justify-content-between flex-wrap">
      <div>
        <p class="text-4xl pr-2 m-0">
          Encontre aqui os melhores <strong>smartphones</strong>
        </p>
      </div>
      <div class="cursor-pointer align-self-center">
        Ver todos <i class="pi pi-angle-right"></i>
      </div>
    </div>
    <p-divider class="p-0 m-0" styleClass="custom-divider"></p-divider>
  </div>

  <div class="grid justify-content-center mt-3 flex-wrap gap-3">
    @for (item of smartPhones; track $index) {
    <div>
      <p-card
        styleClass="card-style"
        [header]="item.name + ' (' + item.ram + ' | ' + item.rom + ')'"
        [style]="{ width: '360px' }"
      >
        <ng-template pTemplate="header">
          <img alt="Card" class="smartphone-image" src="{{ item.path }}" />
        </ng-template>
        <div class="flex flex-row gap-4">
          <p>{{ item.price | currency : "BRL" }}</p>
          <p class="line-through">
            {{ item.previousPrice | currency : "BRL" }}
          </p>
        </div>
        <p-divider class="custom-divider"></p-divider>
        <p class="buy-now font-bold">
          Comprar - {{ item.price | currency : "BRL" }}
        </p>
        <div class="discount-marker">{{ item.discount }}% OFF</div>
      </p-card>
    </div>
    }
  </div>

  <div class="flex flex-column mt-6">
    <div class="flex flex-row justify-content-between flex-wrap">
      <div>
        <p class="text-4xl pr-2 m-0">
          Navegue pelas principais <strong class="text-blue">categorias</strong>
        </p>
      </div>
      <div class="cursor-pointer align-self-center">
        Ver todas <i class="pi pi-angle-right"></i>
      </div>
    </div>
    <p-divider class="p-0 m-0"></p-divider>
  </div>

  <div class="grid justify-content-center flex-wrap">
    @for (item of categories; track $index) {
    <div class="flex flex-column">
      <div class="col-12 md:col-3">
        <p-card styleClass="rounded-card-style">
          <ng-template pTemplate="header">
            <img alt="Card" src="{{ item.path }}" class="rounded-card-image" />
          </ng-template>
        </p-card>
      </div>
      <p class="flex align-self-center">{{ item.name }}</p>
    </div>
    }
  </div>

  <div class="flex flex-column mt-6">
    <div class="flex flex-row justify-content-between flex-wrap">
      <div>
        <p class="text-4xl pr-2 m-0">
          Principais marcas <strong class="text-blue">eletrônicas</strong>
        </p>
      </div>
      <div class="cursor-pointer align-self-center">
        Ver todas <i class="pi pi-angle-right"></i>
      </div>
    </div>
    <p-divider class="p-0 m-0" styleClass="custom-divider"></p-divider>
  </div>

  <div class="grid justify-content-center mt-3 flex-wrap gap-8">
    @for (item of offersData; track $index) {
    <img src="{{ item.path }}" />
    }
  </div>

  <div class="flex flex-column mt-6">
    <div class="flex flex-row justify-content-between flex-wrap">
      <div>
        <p class="text-4xl pr-2 m-0">
          Itens <strong class="text-blue">essenciais diários</strong>
        </p>
      </div>
      <div class="cursor-pointer align-self-center">
        Ver todos <i class="pi pi-angle-right"></i>
      </div>
    </div>
    <p-divider class="p-0 m-0" styleClass="custom-divider"></p-divider>
  </div>

  <div class="grid justify-content-center mt-3 flex-wrap gap-4">
    @for (item of essentialsData; track $index) {
    <div class="flex flex-column">
      <p-card styleClass="essentials-card">
        <ng-template pTemplate="header">
          <img class="essentials-image" src="{{ item.path }}" />
        </ng-template>
      </p-card>
      <p class="flex align-self-center">{{ item.name }}</p>
      <p class="flex align-self-center font-bold m-0 p-0">{{ item.discountText }}</p>
    </div>
    }
  </div>
</div>
<app-footer />
