:host ::ng-deep {
  .product-item {
      .product-item-content {
          border: 1px solid var(--surface-d);
          border-radius: 3px;
          margin: .3rem;
          text-align: center;
          padding: 2rem 0;
      }

      .product-image {
          width: 50%;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 80vw;
  margin: 0 auto;
  padding-top: 5rem;
}

.discount-marker {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #1ABCFE;
  color: white;
  padding: 5px 10px;
  border-bottom-left-radius: 8px;
}

p-card {
  position: relative;
}

