<div class="container mt-4">
  <div class="flex flex-row flex-wrap">
    <div class="flex flex-column align-self-start m-8">
      <h1>Ecommerce</h1>
      <h3>Entre em contato</h3>
      <div class="flex flex-row gap-2">
        <i class="pi pi-whatsapp"></i>
        <p class="m-0">Whatsapp</p>
      </div>
      <a href="https://wa.me/12029182132"  class="ml-3">+1 202-918-2132</a>
      <div class="flex mt-4 flex-row gap-2">
        <i class="pi pi-phone"></i>
        <p class="m-0">Fale conosco</p>
      </div>
      <a href="" class="ml-3">+1 202-918-2132</a>
      <h3>Baixe o app</h3>
      <img src="assets/images/download-app.png" alt="Baixe o app" />
    </div>

    <div class="flex flex-column m-8">
      <h3 class="m-0">Categorias mais populares</h3>
      <p-divider></p-divider>
      <ul class="m-0">
        <li>Grampos</li>
        <li>Bebidas</li>
        <li>Cuidado pessoal</li>
        <li>Cuidados Domiciliares</li>
        <li>Cuidados com o bebê</li>
        <li>Legumes e frutas</li>
        <li>Lanches e Alimentos</li>
        <li>Laticínios e Padaria</li>
      </ul>
    </div>

    <div class="flex flex-column m-8">
      <h3 class="m-0">Serviços aos clientes</h3>
      <p-divider></p-divider>
      <ul class="m-0">
        <li>Sobre nós</li>
        <li>Termos e Condições</li>
        <li>Perguntas frequentes</li>
        <li>Política de Privacidade</li>
        <li>Política de lixo eletrônico</li>
        <li>Política de cancelamento e devolução</li>
      </ul>
    </div>
  </div>
  <div class="footer-image">
    <img src="assets/images/footer-image.png" alt="Imagem footer">
  </div>
</div>
